Flask
Werkzeug
gunicorn
llama-index
llama-index-vector-stores-supabase
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-llms-deepseek
python-dotenv
Pillow
supabase
openai
llama-parse
chromadb
llama-index-vector-stores-chroma
llama-index-vector-stores-postgres

vecs
Flask-CORS
torch
flask_caching
llama-index-llms-google-genai
llama-index-llms-gemini
llama-index-llms-anthropic
psutil
matplotlib
transformers
tiktoken
llama-index-tools-requests
scikit-learn
joblib
numpy
mcp
fastmcp
linkup-sdk
arxiv
llama-index-agent-openai
